.smt-regular-text, 
.smt-label,
.smt-h1,
.smt-h2 {
    color: #ffffff !important; 
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9) !important; 
}

.form-control.smt-input-field {
    background-color: rgba(255, 255, 255, 0.1) !important;
    color: #ffffff !important; 
    border: none !important;
    border-bottom: 2px solid #ffffff !important;
    border-radius: 0 !important;
}

.smt-input-field::placeholder {
    color: rgba(255, 255, 255, 0.5) !important;
}

a.smt-regular-text:hover {
    color: #bc13fe !important; 
}