@using Microsoft.AspNetCore.Components.Authorization

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="">
            <img src="SMTIcon.png" alt="Logo" width="45" height="45" class="me-2" />
            <span>SMTBattle.Web</span>
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="profile">
                        <span class="bi bi-person-fill" aria-hidden="true"></span> Profile
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="team">
                        <span class="bi bi-person-badge-fill" aria-hidden="true"></span> Your Team
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="history">
                        <span class="bi bi-clock-history" aria-hidden="true"></span> Battle History
                    </NavLink>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="login">
                        <span class="bi bi-box-arrow-in-right" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="hero/edit">
                <span class="bi bi-trophy-fill" aria-hidden="true"></span> Rankings
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="compendium">
                <span class="bi bi-trophy-fill" aria-hidden="true"></span> Compendium
            </NavLink>
        </div>

    </nav>
</div>